.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: Inter, Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: #202020;
}

.header__container-styles {
  background-color: #073042;
}

button:disabled {
  opacity: 0.3;
  cursor: default !important;
}
