.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation__element {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation__element_container-move {
  margin: 0 auto;
}

.movies-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
  list-style: none;
  padding: 0;
}

.movies-navigation__element {
  margin: 0;
  padding: 0;
}

.movies-navigation__element:first-of-type {
  margin: 0;
}

.movies-navigation__element_place_menu {
  display: none;
}

.movies-navigation__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.movies-navigation__link:hover {
  opacity: 0.7;
}

.movies-navigation__link_active {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid #ffffff;
  box-sizing: border-box;
}

.movies-navigation__link_active-hed {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
  /* .movies-navigation__link_active { */
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  /* } */
}

.movies-navigation__link_active:hover {
  font-weight: 500;
  opacity: 1;
  cursor: default;
}

.navigation__profile-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  width: 100px;
  height: 32px;
  border-radius: 50px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.navigation__profile-button:hover {
  opacity: 0.8;
}

.navigation__profile-button_active:hover {
  opacity: 1;
  cursor: default;
}

.navigation__profile-icon {
  width: 26px;
  height: 26px;
  background-image: url(../../images/profile_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #313131;
  border-radius: 50%;
  border: none;
  margin-left: 7px;
}

@media screen and (max-width: 800px) {
  .navigation {
    margin: 0;
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 320px;
  }

  .movies-navigation {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .movies-navigation__element {
    margin-top: 28px;
  }

  .movies-navigation__element:first-of-type {
    margin: 0;
  }

  .movies-navigation__element_place_menu {
    display: block;
  }

  .movies-navigation__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  .movies-navigation__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 416px) {
  /* .navigation {
    margin: 144px auto 46px;
  } */

  .movies-navigation__element {
    margin-top: 24px;
  }
}

.menu {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 55;
}

.menu__container {
  background-color: #202020;
  position: relative;
  display: none;
  max-width: 520px;
  width: 100%;
}

.menu__close-button {
  background-color: transparent;
  background-image: url("../../images/close_button_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.menu__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .menu_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .menu__container {
    display: flex;
  }

  .navigation__element_menu {
    margin-top: 159px;
  }
}

@media screen and (max-width: 500px) {
  .menu__close-button {
    top: 13px;
    right: 13px;
  }
  .navigation__element_menu {
    margin-top: 144px;
  }
}

.header__navtab {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navtab-element {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__navtab-element:first-of-type {
  margin-right: 30px;
}

.header__singup {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.header__singup:hover {
  opacity: 0.7;
}

.header__signin {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #3ddc84;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.header__signin:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .header__navtab-element:first-of-type {
    margin-right: 14px;
  }

  .header__singup {
    font-size: 10px;
  }

  .header__signin {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }
}

.header__navigation {
  display: flex;
  width: 100%;
}

.header__menu-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .header__navigation {
    display: none;
  }

  .header__menu-button {
    display: block;
    background-color: transparent;
    background-image: url("../../images/header_burger_menu_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 44px;
    height: 44px;
    opacity: 1;
    transition: opacity 0.2s linear;
    cursor: pointer;
  }

  .header__menu-button:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 500px) {
  .header__menu-button {
    width: 40px;
    height: 43px;
    background-size: 90%;
  }
}

.menu {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 5;
}

.menu__container {
  background-color: #202020;
  position: relative;
  display: none;
  max-width: 520px;
  width: 100%;
}

.menu__close-button {
  background-color: transparent;
  background-image: url("../../images/close_button_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.menu__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .menu_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .menu__container {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .menu__close-button {
    top: 13px;
    right: 13px;
  }
}
